<div class="page-container">
    <h1>Create League</h1>
    <hr>
    <form>
      <p>League</p>
      <div class="name-row">
        <div class="field">
          <input [(ngModel)]="name" type="text" name="name" id="name">
          <p>Name</p>
        </div>
      </div>
    </form>
  
    <div class="button-wrapper">
      <button (click)="postLeague()" type="button" id="createButton">
        Create
      </button>
    </div>
  
    @if (successMessage()) {
    <div class="success-message" [class.fade-out]="isFading()">
      {{ successMessage() }}
    </div>
    }
  
    @if (errorMessage()) {
    <div class="error-message" [class.fade-out]="isFading()">
      {{ errorMessage() }}
    </div>
    }
  
  </div>
  