<body>
    <form id="loginForm">
        <h2>Login</h2><br>
        <img src="avatar.png" alt="Avatar">
        <p>E-mail</p>
        <input [(ngModel)]="username" type="text" name="username" id="username"><br>
    
        <p>Password</p>
        <input [(ngModel)]="password" type="password" name="password" id="password"><br><br>
    
        <div class="button-wrapper">
            <button type="button" (click)="onClick()" id="loginButton">Sign in</button>
        </div>

        <hr>

        <div class="button-wrapper">
            <button type="button" routerLink="/register" id="createAccountButton">Create Account</button>
        </div><br>

        <div class="button-wrapper">
            <button id="forgotPasswordButton">Forgot Password</button>
        </div>
    </form>

    <footer>
        <span>OTDG Dev</span>
        <span><a href="https://github.com/OTDG-Dev/On-Track-Hockey">Github</a></span>
      </footer> 
</body>


