<body>
    <form id="loginForm">
        <h2>On Track Hockey</h2><br>
        <img src="avatar.png" alt="Avatar">
        <p>Username</p>
        <input type="text" name="username" id="username"><br>
    
        <p>Password</p>
        <input type="password" name="password" id="password"><br><br>
    
        <div class="button-wrapper">
            <button id="loginButton">Sign in</button>
        </div>

        <hr>

        <div class="button-wrapper">
            <button id="createAccountButton">Create Account</button>
        </div><br>

        <div class="button-wrapper">
            <button id="forgotPasswordButton">Forgot Password</button>
        </div>
    </form>
</body>


