# Database connection
OTH_DB_DSN=postgres://othadmin:password@db:5432/ontrackhockey?sslmode=disable

# PostgreSQL config
POSTGRES_USER=othadmin
POSTGRES_PASSWORD=password
POSTGRES_DB=ontrackhockey

# Rater limiter
LIMITER_ENABLED=true
LIMITER_RPS=2
LIMITER_BURST=4