<div class="page-container">
    <h1>Edit Division</h1>
    <hr>
    <form>
      <p>Division</p>
      <div class="name-row">

        <div class="field">
          <input [(ngModel)]="name" type="text" name="name" id="name">
          <p>Name</p>
        </div>

        <div class="field">
          <select [(ngModel)]="league_id" name="league_id">
            @for (league of leagues(); track league.name) {
              <option [ngValue]="league.id">
                {{ league.name }}
              </option>
            }
          </select>
          <p>League</p>
        </div>
      </div>


    </form>
  
    <div class="button-wrapper">
      <button (click)="patchDivision()" type="button" id="createButton">
        Edit
      </button>
    </div>
  
    @if (successMessage()) {
    <div class="success-message" [class.fade-out]="isFading()">
      {{ successMessage() }}
    </div>
    }
  
    @if (errorMessage()) {
    <div class="error-message" [class.fade-out]="isFading()">
      {{ errorMessage() }}
    </div>
    }
  
  </div>
  